body{ background-image:url(https://www.diariolibre.com/binrepository/887x586/0c0/0d0/none/10904/SPYY/medioambiente_11737274_20190604172240.jpg) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color:#ffffff;
}

.form{
font-family: 'roboto',sans-serif;
background-color: #c01616;
margin: auto;
background-position: 0 0, 10px 10px;
width: 90%;
max-width: 400px;
padding: 4.5em 3em;
border-radius: 10px;
box-shadow: 0 5px 10px -5px rgba(0 0 0 / 30%);
text-align: center;
}

.form_title{ font-size: 2rem;
    margin-bottom: .5em;    
}
.form_paragrahp{
    font-weight: 300;
}
.form_link{
    font-weight: normal;
    color: rgb(3, 3, 3);
}
.form_container{
    margin-top: 3em;
    display: grid;
    gap: 2.5em;
}
.form_group{
    position: relative;
    --color: #575757e;
}
.form_input{
    width: 100%;
    background: none;
    color: #706c6c;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
    font-family: 'roboto',sans-serif;
}
table,td{
    border:6px solid rgb(11, 165, 111);
    padding: 3px;
  
  }
  
  th{
    border-style:inset;
    padding: 33px;
    text-transform: capitalize;
    color: #f8550f;
  }