body{ background-image:url(https://www.diariolibre.com/binrepository/887x586/0c0/0d0/none/10904/SPYY/medioambiente_11737274_20190604172240.jpg) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color:#ffffff;


}

form{
font-family: 'roboto',sans-serif;
background-color: #ffffff;

}

table.tj{



}